<%= render 'shared/errors', obj: @income %>

<%= simple_form_for(@income) do |f| %>
  
  <div class="form-inputs">
      <%= f.association :item, label: 'Select item name' %>
      <%= f.date_field :record_date, class: 'datepicker', :value => Time.now.strftime('%Y-%m-%d') %>
      <%= f.input :rent_amount, input_html: {min: 0, step: 'any' } %>
      <%= f.input :water_bill, input_html: {min: 0, step: 'any' } %>
      <%= f.input :gas_bill, input_html: {min: 0, step: 'any'} %>
      <%= f.input :electric_bill, input_html: {min: 0, step: 'any' } %>
      <%= f.input :other_amount, input_html: {min: 0, step: 'any' } %>
    </div>

  <div class="form-actions">
     <%= f.button :submit %>
  </div>
<% end %>
