<%= render 'shared/errors', obj: @expense %>
<%= simple_form_for(@expense) do |f| %>

  <div class="form-inputs">
  <%= f.association :expense_item, label: 'Select item name' %>
    <%= f.date_field :expense_date, class: 'datepicker', :value => Time.now.strftime('%Y-%m-%d') %>
    <%= f.input :expense_amount, input_html: {min: 0, step: 'any' } %>
    <%= f.input :person_name %>
    <%= f.input :description, class: 'materialize-textarea' %>
   
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
