<p id="notice"><%= notice %></p>

<h1>Expenses Information</h1>

<table>
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Expense date</th>
      <th>Expense amount</th>
      <th>Person name</th>
     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% runing_total = 0 %>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.expense_item.title %></td>
        <td><%= expense.expense_date %></td>
        <td><%= expense.expense_amount %></td>
        <td><%= expense.person_name %></td>
        <td><h6><%= link_to 'Show', expense, class: "btn waves-effect waves-light" %></h6></td>
        <td><h6><%= link_to 'Edit', edit_expense_path(expense), class: "btn waves-effect  blue darken-3" %></h6></td>
        <td><h6><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn waves-effect red darken-2" %></h6></td>
        <% runing_total = runing_total + expense.expense_amount.to_i %>
      </tr>
    <% end %>
  </tbody>
</table>
<h4 class="right-align">Total Amount:  <%= runing_total %></h4>
<br>

<%= link_to  new_expense_path, class: "btn waves-effect waves-light", :method => :get do %>
  New Expense
  <% end %>
