<p id="notice"><%= notice %></p>

<p>
  <strong>Expenseitem:</strong>
  <%= @expense.expense_item.title %>
</p>

<p>
  <strong>Expense date:</strong>
  <%= @expense.expense_date %>
</p>

<p>
  <strong>Expense amount:</strong>
  <%= @expense.expense_amount %>
</p>

<p>
  <strong>Person name:</strong>
  <%= @expense.person_name %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
