<p id="notice"><%= notice %></p>

<p>
  <strong>Expenseitem:</strong>
  <%= @expense.expense_item.title %>
</p>

<p>
  <strong>Expense date:</strong>
  <%= @expense.expense_date %>
</p>

<p>
  <strong>Expense amount:</strong>
  <%= @expense.expense_amount %>
</p>

<p>
  <strong>Person name:</strong>
  <%= @expense.person_name %>
</p>

<p>
<% if @expense.image.attached? %>
  <strong>Bill picture</strong>
  <%= image_tag(@expense.image, style: "width: 200px; display: block") %>
<% end %>  
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
