<!DOCTYPE html>
<html>
  <head>
    <title>House Rent Management Systems</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
    <%= render 'layouts/navbar' %>
  <body>
    <div class="container">
       <%= yield %>
    </div>
  </body>
</html>
